@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.MainSection {
    @include flex-element(column);
    // overflow: hidden;
    

    background-color: $primary-background-color;
    // padding: 0px 20px 200px;
    font-size: small;
    box-sizing: border-box;
    .title{
        @include flex-element(row,flex-start);
        text-shadow: 0 0 3px black;
        
    }
    .container {
        overflow: scroll;
        width: 100%;
        overflow-y: hidden;
        display: flex;
    }
}

h3 {
    padding-left: 20px;
    box-sizing: border-box;

}