@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.MainSection {
    @include flex-element(column);
    width: 100wv;
    color: $primary-color;
    background-color: $primary-background-color;
}