.Hero {
  box-sizing: border-box;
  flex: 0 0 auto;
  overflow: hidden;

  .mySwiper {
    .Img {
      height: 80%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

.HeroCard {
  position: relative;
  .Title {
    z-index: 10;
    position: absolute;
    left: 5%;
    text-shadow: 0 0 4px black;
  }
}

@media screen and (min-width: 480px) {
  .Hero {
    .mySwiper {
      box-sizing: border-box;
      height: 80%;

      .Img {
        max-height: 400px ;
        aspect-ratio: 16 / 9;
        object-position: 50% 10%;
      }
    }
  }
}
