$primary-color: #ffffff;
$primary-background-color: #590000;
$primary-border-color: #ffffff59;

$secondary-border-color: #a9a9a9;



$third-color: #f6ff00;
$shadow-box: #00000059;

$active-text-color: rgb(245, 245, 245);
