$primary-color: #F5F5F1;
$primary-background-color: #d0be7f;
$secondary-bkg-color: #831010;
$primary-border-color: #221F1F;

$secondary-border-color: #a9a9a9;



$rating-color: #dcdcd6fc;
$shadow-box: #00000059;

$active-text-color: rgb(245, 245, 245);

// PALETTE COLORI NETLIX
// Grigio Scuro: #221F1F
// Rosso chiaro #B81D24
// Rosso pastello #B81D24
// Bianco #F5F5F1