$primary-color: #4c4a4d;
$primary-background-color: #06224b;
$primary-border-color: #ffffff59;

$secondary-border-color: #a9a9a9;



$third-color: #1a002d;
$shadow-box: #00000059;

$active-text-color: rgb(245, 245, 245);
