
.CardList {
  overflow: hidden;
  flex: 0 0 auto;
  box-sizing: border-box;
  height: 100%;

  .mySwiper {
    box-sizing: border-box;
    .Img {
      height: 100%;
      width: 100%;
        object-fit: cover;
        object-position:50%  50%;
    }
  }
}

.CardListCard {
  position: relative;
  height: 100%;
  .Title {
    font-size:medium;
    z-index: 10;
    position:absolute;
    left: 10%;
    text-shadow: 0 0 2px black;
  }
  .Img {
    object-fit: cover;
  }

}


@media screen and (min-width: 480px) {
  .Img {
    max-height: 300px;
    width: auto;
    aspect-ratio: 16 / 9;
  }
}