@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap");

.Main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue";
  font-size: larger;

  .Overlay {
    cursor: pointer;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.52);
    color: whitesmoke;
  }
  .Wrapper {
    overflow-y: scroll;
    cursor: default;
    max-height: 80%;
    width: 85%;
    box-sizing: border-box;
    background-color: $primary-border-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px black;
    z-index: 101;
    padding: 0px 1rem;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
      align-items: center;
      padding: 0;
      h1 {
        padding: 0;
        margin: 0;
      }
    }
    .remove {
      position: sticky;
      top: 0;
      left: 90%;
      padding-top: 1rem;
      svg {
        color: $secondary-bkg-color;
        cursor: pointer;
      }
    }

    .Content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
      .Image {
        width: 80%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .Main {
    .Wrapper {
      max-height: 85%;
      width: 60%;
      overflow-y: hidden;
      overflow-x: hidden;
      .title {
        margin: 0;
        padding: 0px;
      }
      .Content {
        justify-content: space-evenly;
        flex-direction: row;

        .Image {
          width: 20rem;
        }
        .overview {
          padding: 2rem;
          width: 20rem;
        }
      }
      .remove {
        top: 2%;
        left: 95%;
      }
    }
  }
}
