@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";


.Main {
    padding-top: 2rem;
    .Pagination {
    @include flex-element(row,center,stretch,wrap);
    padding-top:1rem;       
    }
    .BtnContainer {
        @include flex-element(row,center);
        padding: 10px;
        gap: 10px;
        background-color: $secondary-bkg-color;
        
        gap: 100px;
        .Btn {
            padding-left: 1rem;
            padding-right: 1rem;
            svg{color: $primary-color; transform:scale(1.4);};
            color: whitesmoke;
            cursor: pointer;
        }
    }
    .Title {
        background-color: $secondary-bkg-color;
        padding: 5px;
        h1 {
            @include flex-element(row,center);
            text-shadow: 0 0 3px black;
            box-sizing: border-box;
        }

    }

}
