@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Navbar {
  @include flex-element(row,flex-start,center, $gap: 100px);
  color: $primary-color;
  height: 70px;
  background-color: $primary-background-color;
  border-bottom: 2px solid $primary-border-color;
  z-index: 9;
  box-sizing: border-box;
  .Logo {
    padding-left: 2rem;
    transform: scale(1.5);
  }
  .AnchorWrapper {
    display: flex;
      gap: 2rem;
      list-style-type: none;
      color:$primary-color;
      .a{
        text-decoration:none;
      }
    
  }
}
