@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Navbar {
  @include flex-element(row, center,center);

  color: $primary-color;
  height: 70px;
  background-color: $primary-background-color;
  border-bottom: 2px solid $primary-border-color;
  z-index: 9;
}
