@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.PopularList {
  @include flex-element(row, flex-start);
  overflow: scroll;
  overflow-y: hidden;
  gap: 5px;
  width:100vw;
  height: auto;

}